<%- include('partials/header'); -%>


<h1>Create</h1>
<form action="/compose" method="post">
<input type="text" name="newPost"><button type="submit">Post</button>
</form>


<%- include('partials/footer'); -%>