<%- include('partials/header'); -%>


<h1>Create</h1>
<form action="/compose" method="post">

    <input class="form-control" placeholder="Title" type="text" name="newPostTitle">
    <textarea class="form-control" placeholder="Write your post.." name="newPostBody" cols="30" rows="6"></textarea>
    <button class="btn" type="submit">Post</button>
</form>


<%- include('partials/footer'); -%>